USE [QL_CUAHANG_NHACCU]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [nchar](20) NOT NULL,
	[MASP] [nchar](15) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTKHUYENMAI]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTKHUYENMAI](
	[MAKM] [nchar](10) NOT NULL,
	[MASP] [nchar](15) NOT NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_CTKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAPHANG]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAPHANG](
	[MAPNH] [nchar](20) NOT NULL,
	[MASP] [nchar](15) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_CTPHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAPNH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](20) NOT NULL,
	[TENTKNV] [nchar](10) NULL,
	[MAKH] [nchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[PHANTRAMGIAM] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](300) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[SDT] [nchar](15) NULL,
	[WEBSITE] [nvarchar](100) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[LUONG] [int] NULL,
	[CHUCVU] [nchar](50) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPNH] [nchar](20) NOT NULL,
	[MANCC] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[NGAYNHAP] [datetime] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAPNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](15) NOT NULL,
	[MALOAI] [nchar](10) NULL,
	[MATHUONGHIEU] [nchar](10) NULL,
	[MANCC] [nchar](10) NULL,
	[TENSP] [nvarchar](100) NULL,
	[MAUSAC] [nvarchar](30) NULL,
	[HINHANH] [nchar](30) NULL,
	[SOLUONG] [int] NULL,
	[THOIGIANBH] [int] NULL,
	[GIANHAP] [int] NULL,
	[GIABANLE] [int] NULL,
	[GIADANGBAI] [int] NULL,
	[GIASI] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATHUONGHIEU] [nchar](10) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD230122-0001       ', N'SPNCC0010001   ', 1, 99000000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD230122-0001       ', N'SPNCC0020001   ', 1, 90000000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD231028-0002       ', N'SPNCC0020003   ', 1, 134585000)
GO
INSERT [dbo].[CTKHUYENMAI] ([MAKM], [MASP], [TRANGTHAI]) VALUES (N'KM0001    ', N'SPNCC0010001   ', 0)
INSERT [dbo].[CTKHUYENMAI] ([MAKM], [MASP], [TRANGTHAI]) VALUES (N'KM0001    ', N'SPNCC0020006   ', 0)
INSERT [dbo].[CTKHUYENMAI] ([MAKM], [MASP], [TRANGTHAI]) VALUES (N'KM0001    ', N'SPNCC0030003   ', 1)
GO
INSERT [dbo].[CTPHIEUNHAPHANG] ([MAPNH], [MASP], [SOLUONG], [DONGIA], [TRANGTHAI]) VALUES (N'NCC001-230122-0001  ', N'SPNCC0010001   ', 5, 63000000, 0)
INSERT [dbo].[CTPHIEUNHAPHANG] ([MAPNH], [MASP], [SOLUONG], [DONGIA], [TRANGTHAI]) VALUES (N'NCC001-230122-0001  ', N'SPNCC0010002   ', 7, 85645000, 0)
INSERT [dbo].[CTPHIEUNHAPHANG] ([MAPNH], [MASP], [SOLUONG], [DONGIA], [TRANGTHAI]) VALUES (N'NCC001-230301-0002  ', N'SPNCC0010003   ', 10, 7000000, 0)
GO
INSERT [dbo].[HOADON] ([MAHD], [TENTKNV], [MAKH], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD230122-0001       ', N'NV002     ', N'KH0001    ', CAST(N'2023-01-22T11:30:00.000' AS DateTime), 189000000, 0)
INSERT [dbo].[HOADON] ([MAHD], [TENTKNV], [MAKH], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD231028-0002       ', N'NV002     ', N'KH0002    ', CAST(N'2023-10-28T09:36:00.000' AS DateTime), 134585000, 0)
INSERT [dbo].[HOADON] ([MAHD], [TENTKNV], [MAKH], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD240106-0003       ', N'NV004     ', N'KH0003    ', CAST(N'2024-01-06T14:26:00.000' AS DateTime), 3740000, 0)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [TRANGTHAI]) VALUES (N'KH0001    ', N'Nguyễn Thị Lệ', N'TP HCM', N'0918276712', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [TRANGTHAI]) VALUES (N'KH0002    ', N'Phạm Thị Hồng Nhung', N'Long An', N'0912763874', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [TRANGTHAI]) VALUES (N'KH0003    ', N'Lê Tú Trinh Thục', N'TP HCM', N'0912747214', 0)
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [PHANTRAMGIAM], [TRANGTHAI]) VALUES (N'KM0001    ', N'THÁNG SINH NHẬT LẦN 3', CAST(N'2024-05-01' AS Date), CAST(N'2024-05-31' AS Date), 10, 0)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [PHANTRAMGIAM], [TRANGTHAI]) VALUES (N'KM0002    ', N'LỄ 30/4 NĂM 2024', CAST(N'2023-04-28' AS Date), CAST(N'2023-05-03' AS Date), 10, 0)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [PHANTRAMGIAM], [TRANGTHAI]) VALUES (N'KM0003    ', N'QUỐC TẾ THIẾU NHI ', CAST(N'2023-05-28' AS Date), CAST(N'2023-06-03' AS Date), 5, 0)
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'L001      ', N'Violin', 0)
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'L002      ', N'Piano', 0)
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [TRANGTHAI]) VALUES (N'L003      ', N'Organ', 0)
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT], [WEBSITE], [TRANGTHAI]) VALUES (N'NCC001    ', N'CÔNG TY  NHẠC CỤ VÂN', N'Số 66, Đường Nguyễn Hữu Tiến, P. Tây Thạnh, Q. Tân Phú, TP. Hồ chí Minh', N'nhacuphongvan.vn@gmail.com', N'02862693239    ', N'https://phongvans.com', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT], [WEBSITE], [TRANGTHAI]) VALUES (N'NCC002    ', N'CÔNG TY NHẠC CỤ VIỆT THANH', N'69 Trần Thị Nghỉ, Phường 7, Q. Gò Vấp, TP Hồ Chí Minh ', N'info@vietthanhmusic.vn', N'0932 783 669   ', N'https://nhaccuvietthanh.com', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT], [WEBSITE], [TRANGTHAI]) VALUES (N'NCC003    ', N'CÔNG TY XUẤT VIỆT THƯƠNG', N'386 Cách Mạng Tháng Tám, Phường 10, Quận 3, TP Hồ Chí Minh', N'info@vietthuong.vn', N'1800 6715      ', N'http://vietthuong.vn                                                                                ', 0)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [LUONG], [CHUCVU], [TRANGTHAI]) VALUES (N'NV001     ', N'Trương Lê Bảo Trân', N'Long An', N'0916649072', 6000000, N'Nhân viên kho                                     ', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [LUONG], [CHUCVU], [TRANGTHAI]) VALUES (N'NV002     ', N'Phan Tâm Minh', N'Tây Ninh', N'0122804967', 4500000, N'Nhân viên bán hàng                                ', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [LUONG], [CHUCVU], [TRANGTHAI]) VALUES (N'NV003     ', N'Lê Thanh Tùng', N'Bình Dương', N'0928634778', 8000000, N'Nhân viên kho                                     ', 0)
GO
INSERT [dbo].[PHIEUNHAPHANG] ([MAPNH], [MANCC], [MANV], [NGAYNHAP], [TRANGTHAI]) VALUES (N'NCC001-230122-0001  ', N'NCC001    ', N'NV001     ', CAST(N'2023-01-22T11:30:00.000' AS DateTime), 0)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPNH], [MANCC], [MANV], [NGAYNHAP], [TRANGTHAI]) VALUES (N'NCC001-230301-0002  ', N'NCC001    ', N'NV001     ', CAST(N'2023-03-01T09:00:00.000' AS DateTime), 0)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPNH], [MANCC], [MANV], [NGAYNHAP], [TRANGTHAI]) VALUES (N'NCC001-240310-0003  ', N'NCC001    ', N'NV001     ', CAST(N'2024-03-10T10:17:00.000' AS DateTime), 0)
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MATHUONGHIEU], [MANCC], [TENSP], [MAUSAC], [HINHANH], [SOLUONG], [THOIGIANBH], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI], [TRANGTHAI]) VALUES (N'SPNCC0010001   ', N'L002      ', N'TH001     ', N'NCC001    ', N'Đàn Piano Cơ Upright Kawai ND-21', N'Đen', N'Piano\h1.png                  ', 9, 120, 63000000, 90000000, 99000000, 81000000, 0)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MATHUONGHIEU], [MANCC], [TENSP], [MAUSAC], [HINHANH], [SOLUONG], [THOIGIANBH], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI], [TRANGTHAI]) VALUES (N'SPNCC0010002   ', N'L002      ', N'TH009     ', N'NCC001    ', N'Đàn Piano Cơ Upright Yamaha U1J - U Series', N'Nâu', N'Piano\h2.png                  ', 3, 120, 85645000, 122350000, 134585000, 110115000, 0)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MATHUONGHIEU], [MANCC], [TENSP], [MAUSAC], [HINHANH], [SOLUONG], [THOIGIANBH], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI], [TRANGTHAI]) VALUES (N'SPNCC0010003   ', N'L007      ', N'TH008     ', N'NCC001    ', N'Kèn Clarinet Conn-Selmer CL710 Bb', N'Đen', N'Ken\h11.png                   ', 2, 12, 7000000, 10000000, 11000000, 9000000, 0)
GO
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'TH001     ', N'Kawai', 0)
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'TH002     ', N'Casio', 0)
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'TH003     ', N'Rosen', 0)
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CTKHUYENMAI] CHECK CONSTRAINT [FK_CTKHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKHUYENMAI_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTKHUYENMAI] CHECK CONSTRAINT [FK_CTKHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAPHANG_PHIEUNHAPHANG] FOREIGN KEY([MAPNH])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPNH])
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CTPHIEUNHAPHANG_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CTPHIEUNHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([TENTKNV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUONGHIEU] FOREIGN KEY([MATHUONGHIEU])
REFERENCES [dbo].[THUONGHIEU] ([MATHUONGHIEU])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUONGHIEU]
GO
/****** Object:  StoredProcedure [dbo].[delete_KhachHang]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_KhachHang]( @MAKH NCHAR(10))
AS
	UPDATE KHACHHANG
	SET TRANGTHAI = 1
	WHERE MAKH= @MAKH
GO
/****** Object:  StoredProcedure [dbo].[delete_LoaiSP]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_LoaiSP]( @maLoai nchar(10))
as
	UPDATE LOAISANPHAM
	SET TRANGTHAI= 1
	WHERE MALOAI= @maLoai
GO
/****** Object:  StoredProcedure [dbo].[delete_NCC]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[delete_NCC]( @maNCC nchar(10))
as
	UPDATE NHACUNGCAP
	SET TRANGTHAI= 1
	WHERE MANCC= @maNCC
GO
/****** Object:  StoredProcedure [dbo].[delete_ThuongHieu]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_ThuongHieu]( @MATHUONGHIEU NCHAR(10))
AS
	UPDATE THUONGHIEU
	SET TRANGTHAI= 1
	WHERE MATHUONGHIEU= @MATHUONGHIEU
GO
/****** Object:  StoredProcedure [dbo].[suaNhanVien]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[suaNhanVien](
    @MANV NCHAR(10),
    @TENNV NVARCHAR(50),
    @DIACHI NVARCHAR(50),
    @SDT NCHAR(10),
    @CHUCVU VARCHAR(255),
    @LUONG INT
)
AS
BEGIN
    UPDATE NhanVien
    SET TENNV = @TENNV,
        DIACHI = @DIACHI,
        SDT = @SDT,
        CHUCVU = @CHUCVU,
        LUONG = @LUONG,
		TRANGTHAI= 0
    WHERE MANV = @MANV;
END;
GO
/****** Object:  StoredProcedure [dbo].[suaSanPham]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[suaSanPham](
    @MASP NCHAR(15), 
    @TENSP NVARCHAR(100), 
    @MALOAI NCHAR(10), 
    @MANCC NCHAR(10), 
    @MAUSAC NVARCHAR(30), 
    @GIABANLE INT, 
    @GIADANGBAI INT, 
    @GIANHAP INT, 
    @GIASI INT, 
    @THOIGIANBH INT, 
    @SOLUONG INT, 
    @MATHUONGHIEU NCHAR(10), 
    @HINHANH NCHAR(30)
)
AS
BEGIN
	UPDATE SANPHAM
	SET TENSP = @TENSP, 
        MALOAI= @MALOAI, 
        MANCC= @MANCC, 
        MAUSAC= @MAUSAC, 
        GIABANLE= @GIABANLE, 
        GIADANGBAI= @GIADANGBAI, 
        GIANHAP= @GIANHAP, 
        GIASI= @GIASI, 
        THOIGIANBH= @THOIGIANBH, 
        SOLUONG=@SOLUONG, 
        MATHUONGHIEU= @MATHUONGHIEU, 
        HINHANH= @HINHANH, 
        TRANGTHAI= 0
    WHERE MASP= @MASP
END
GO
/****** Object:  StoredProcedure [dbo].[themCTHOADON]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themCTHOADON](@MAHD NCHAR(20), @MASP NCHAR(15), @SOLUONG INT, @DONGIA int)
AS
	INSERT INTO CTHOADON VALUES(@MAHD, @MASP, @SOLUONG, @DONGIA)



GO
/****** Object:  StoredProcedure [dbo].[themCTKM]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themCTKM](@MAKM nchar(10), @MASP nchar(15))
as
	insert into CTKHUYENMAI (MAKM, MASP, TRANGTHAI) VALUES(@MAKM, @MASP, 0)
GO
/****** Object:  StoredProcedure [dbo].[themCTPhieuNhap]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themCTPhieuNhap](@MAPNH NCHAR(20), @MASP NCHAR(15), @SOLUONG INT, @DONGIA INT)
AS
	INSERT INTO CTPHIEUNHAPHANG(MAPNH, MASP, SOLUONG, DONGIA, TRANGTHAI) 
	VALUES (@MAPNH, @MASP, @SOLUONG, @DONGIA, 0)
GO
/****** Object:  StoredProcedure [dbo].[themHoaDon]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themHoaDon](@MAHD NCHAR(20), @TENTKNV NCHAR(20), @MAKH NCHAR(10), @NGAYLAP DATETIME, @TONGTIEN int)
AS
	INSERT INTO HOADON VALUES(@MAHD, @TENTKNV, @MAKH,@NGAYLAP, @TONGTIEN,  0)

GO
/****** Object:  StoredProcedure [dbo].[themKhachHang]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themKhachHang]( @MAKH NCHAR(10), @TENKH NVARCHAR(50), @DIACHI NVARCHAR(100), @SDT NVARCHAR(50))
AS
	INSERT INTO KHACHHANG VALUES (@MAKH, @TENKH, @DIACHI, @SDT, 0)
GO
/****** Object:  StoredProcedure [dbo].[themKM]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[themKM] @p_maKM VARCHAR(50), @p_tenKM VARCHAR(100),@p_ngayBD DATE,@p_ngayKT DATE,@p_phanTramGiam INT
AS
BEGIN
    INSERT INTO KhuyenMai (maKM, tenKM, ngayBD, ngayKT, phanTramGiam, trangthai)
    VALUES (@p_maKM, @p_tenKM, @p_ngayBD, @p_ngayKT, @p_phanTramGiam, 0);
END
GO
/****** Object:  StoredProcedure [dbo].[themLoaiSP]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themLoaiSP]( @maLoai nchar(10), @tenLoai nvarchar(50))
as
	Insert into LOAISANPHAM values (@maLoai, @tenLoai, 0)
GO
/****** Object:  StoredProcedure [dbo].[themNCC]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themNCC]( @maNCC nchar(10), @tenNCC nvarchar(300), @diachi nvarchar(200), @email nvarchar(100), @sdt nchar(15), @website nchar(50))
as
	Insert into NHACUNGCAP values (@maNCC, @tenNCC, @diachi, @email, @sdt, @website, 0)
GO
/****** Object:  StoredProcedure [dbo].[themNhanVien]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[themNhanVien]( @MANV NCHAR(10), @TENNV NVARCHAR(50), @DIACHI NVARCHAR(50), @SDT NCHAR(10), @CHUCVU VARCHAR(255), @LUONG INT)
AS
	BEGIN
		INSERT INTO NhanVien (MANV, TENNV, DIACHI, SDT, CHUCVU, LUONG, TRANGTHAI)
		VALUES (@MANV, @TENNV, @DIACHI, @SDT, @CHUCVU, @LUONG, 0);
	END
GO
/****** Object:  StoredProcedure [dbo].[themPhieuNhap]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themPhieuNhap](@MAPNH NCHAR(20), @MANCC NCHAR(15), @MANV NCHAR(10), @NGAYNHAP DATETIME)
AS
	INSERT INTO PHIEUNHAPHANG(MAPNH, MANCC, MANV, NGAYNHAP, TRANGTHAI) 
	VALUES (@MAPNH, @MANCC, @MANV, @NGAYNHAP, 0)
GO
/****** Object:  StoredProcedure [dbo].[themSanPham]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themSanPham](
    @MASP NCHAR(15), 
    @TENSP NVARCHAR(100), 
    @MALOAI NCHAR(10), 
    @MANCC NCHAR(10), 
    @MAUSAC NVARCHAR(30), 
    @GIABANLE INT, 
    @GIADANGBAI INT, 
    @GIANHAP INT, 
    @GIASI INT, 
    @THOIGIANBH INT, 
    @SOLUONG INT, 
    @MATHUONGHIEU NCHAR(10), 
    @HINHANH NCHAR(30)
)
AS
BEGIN
    INSERT INTO SANPHAM (MASP, 
        TENSP, 
        MALOAI, 
        MANCC, 
        MAUSAC, 
        GIABANLE, 
        GIADANGBAI, 
        GIANHAP, 
        GIASI, 
        THOIGIANBH, 
        SOLUONG, 
        MATHUONGHIEU, 
        HINHANH, 
        TRANGTHAI)
    VALUES (
        @MASP, 
        @TENSP, 
        @MALOAI, 
        @MANCC, 
        @MAUSAC, 
        @GIABANLE, 
        @GIADANGBAI, 
        @GIANHAP, 
        @GIASI, 
        @THOIGIANBH, 
        @SOLUONG, 
        @MATHUONGHIEU, 
        @HINHANH, 
        0
    )
END
GO
/****** Object:  StoredProcedure [dbo].[themThuongHieu]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[themThuongHieu]( @MATHUONGHIEU NCHAR(10), @TENTHUONGHIEU NVARCHAR(50))
AS
	INSERT INTO THUONGHIEU VALUES (@MATHUONGHIEU, @TENTHUONGHIEU, 0)
GO
/****** Object:  StoredProcedure [dbo].[timKiem_KhachHang]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[timKiem_KhachHang](@search nvarchar(50))
as
	select * from KHACHHANG where MAKH like '%' + @search + '%'  
								or (TENKH like N'%' + @search+ '%' )
								or (SDT like '%' + @search + '%')
								or (DIACHI like N'%' + @search+ '%')
GO
/****** Object:  StoredProcedure [dbo].[timKiem_TenKH]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timKiem_TenKH] @ten nvarchar(50)
as
	select * from KHACHHANG where TRANGTHAI = 0 and  TENKH like N'%' + @ten + '%'
GO
/****** Object:  StoredProcedure [dbo].[update_KhachHang]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[update_KhachHang]( @MAKH NCHAR(10), @TENKH NVARCHAR(50), @DIACHI NVARCHAR(100), @SDT NVARCHAR(50))
AS
	UPDATE KHACHHANG
	SET TENKH= @TENKH,
	DIACHI = @DIACHI,
	SDT = @SDT
	WHERE MAKH= @MAKH
GO
/****** Object:  StoredProcedure [dbo].[update_KM]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_KM](@MAKM nchar(10), @TENKM nvarchar(50), @ngayBD date, @ngayKT date, @PHANTRAMGIAM int)
as
	update KHUYENMAI
	SET TENKM= @TENKM,
	NGAYBD= @ngayBD,
	NGAYKT= @ngayKT,
	PHANTRAMGIAM= @PHANTRAMGIAM
	WHERE MAKM= @MAKM
GO
/****** Object:  StoredProcedure [dbo].[update_LoaiSP]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_LoaiSP]( @maLoai nchar(10), @tenLoai nvarchar(50))
as
	UPDATE LOAISANPHAM
	SET tenLoai= @tenLoai
	WHERE MALOAI= @maLoai
GO
/****** Object:  StoredProcedure [dbo].[update_NCC]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_NCC]( @maNCC nchar(10), @tenNCC nvarchar(300), @diachi nvarchar(200), @email nvarchar(100), @sdt nchar(15), @website nchar(100))
as
	UPDATE NHACUNGCAP
	SET TENNCC= @tenNCC,
	DIACHI= @diachi,
	EMAIL= @email,
	SDT= @sdt,
	WEBSITE= @website
	WHERE MANCC= @maNCC
GO
/****** Object:  StoredProcedure [dbo].[update_ThuongHieu]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_ThuongHieu]( @MATHUONGHIEU NCHAR(10), @TENTHUONGHIEU NVARCHAR(50))
AS
	UPDATE THUONGHIEU
	SET TENTHUONGHIEU= @TENTHUONGHIEU
	WHERE MATHUONGHIEU= @MATHUONGHIEU
GO
/****** Object:  StoredProcedure [dbo].[xoaCTKhuyenMai]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[xoaCTKhuyenMai] (@makm nchar(10), @masp nchar(15) )
as
	update CTKHUYENMAI
	set trangthai= 1
	where MAKM= @makm
	and masp= @masp
GO
/****** Object:  StoredProcedure [dbo].[xoaNhanVien]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xoaNhanVien](
    @MANV NCHAR(10)
)
AS
BEGIN
	UPDATE NhanVien
    SET TRANGTHAI= 1
    WHERE MANV = @MANV;
END;
GO
/****** Object:  StoredProcedure [dbo].[xoaSanPham]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xoaSanPham]
    @MASP NCHAR(15)
AS
BEGIN
    update SANPHAM
	set TRANGTHAI= 1
    WHERE MASP = @MASP
END
GO
/****** Object:  Trigger [dbo].[UpdateSoLuong]    Script Date: 06/06/2024 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateSoLuong]
ON [dbo].[CTHOADON]
AFTER INSERT ,UPDATE
AS
BEGIN
    -- Cập nhật số lượng sản phẩm trong bảng SanPham khi có INSERT hoặc UPDATE trên HoaDonChiTiet
    UPDATE SANPHAM
    SET SanPham.soLuong = SanPham.soLuong - inserted.soLuong
    FROM inserted
    WHERE SanPham.maSP = inserted.maSP;
END
GO
ALTER TABLE [dbo].[CTHOADON] ENABLE TRIGGER [UpdateSoLuong]
GO
/****** Object:  Trigger [dbo].[UpdateSoLuongPhieuNhap]    Script Date: 06/06/2024 10:23:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateSoLuongPhieuNhap]
ON [dbo].[CTPHIEUNHAPHANG]
AFTER INSERT ,UPDATE
AS
BEGIN
    -- Cập nhật số lượng sản phẩm trong bảng SanPham khi có INSERT hoặc UPDATE trên PHIẾU NHẬP HÀNG
    UPDATE SANPHAM
    SET SanPham.soLuong = SanPham.soLuong + inserted.soLuong
    FROM inserted
    WHERE SanPham.maSP = inserted.maSP;
END

GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG] ENABLE TRIGGER [UpdateSoLuongPhieuNhap]
GO
